#header {
    background-color: #383838; /*backup for KDE*/
    /*color: #fc9f25;*/
    background-image:url('/usr/share/thus/data/background.png');
    color: #ffffff;
    font-size: 14px;
    font-family: "Arial",Georgia,Serif;
    /*font-family: "Futura Md BT"; This doesn't work*/
}
